<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
     
<mapper namespace="com.spring.turtle.dao.HealthDAO">

	<!-- 헬스회원 목록(갯수) -->
	<select id="healthCnt" resultType="int"> 
	SELECT COUNT(*) 
      FROM health_tb
     WHERE healthShow = 'Y'
	</select>
	
	<!-- 헬스회원 목록 -->
	<select id="healthList" parameterType="java.util.Map" resultType="com.spring.turtle.dto.HealthDTO">
		<![CDATA[
			SELECT * 
	  		  FROM 
	   	    	(SELECT A.*,
	 	         rownum AS rn 
	   		       FROM 
	    	   		(SELECT  *
	       			   FROM health_tb 
	      			  WHERE healthShow = 'Y' 
	      			  ORDER BY healthNo DESC) A 
	    		) 
		   	 WHERE rn >= #{start}
		   	   AND rn <= #{end}
		   	 ]]>
	</select>
	
	<!-- 헬스회원 등록 -->
	<insert id="healthInsert" parameterType="com.spring.turtle.dao.HealthDAO">
	INSERT INTO health_tb(healthNo, userId, userName, userHp, healthImg, ptCnt, healthStartDate, healthEndDate, healthShow, healthStatus)
	VALUES ((SELECT NVL(MAX(healthNo)+1, 1) FROM health_tb), #{userId}, #{userName}, #{userHp}, #{healthImg}, #{ptCnt}, sysdate, sysdate, 'Y', #{healthStatus})
	</insert>

	<!-- 헬스회원 상세목록 -->
	<select id="healthDetail" parameterType="int" resultType="com.spring.turtle.dto.HealthDTO">
		SELECT *
	      FROM health_tb
	     WHERE healthNo = #{healthNo}
	</select>

	<!-- 헬스회원 수정 -->
	<update id="healthUpdate" parameterType="com.spring.turtle.dto.HealthDTO">
	UPDATE health_tb
	   SET userName = #{userName},       
             userHp = #{userHp},       
          healthImg = #{healthImg},        
              ptCnt = #{ptCnt},   
    healthStartDate = #{healthStartDate},    
      healthEndDate = #{healthEndDate},           
       healthStatus = #{healthStatus}     
     WHERE healthNo = #{healthNo}      
	</update>

	<!-- 헬스회원 삭제 -->
	<delete id="healthDelete" parameterType="int">
	DELETE FROM health_tb
 	 WHERE healthNo = #{healthNo}
	</delete>

</mapper>