@charset "UTF-8";

#calendar .fc-toolbar-title {
  color: black; /* 달력의 제목 색상 */
}

#calendar .fc-event-title {
	color: black; /* 일정 제목 색상 */
}

#calendar .fc-header {
	color: black; /* 일정 제목 색상 */
}

#calendar .weekNumbers {
	color: blue; /* 일정 제목 색상 */
}

.fc-day {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    /* height: 50px; */
}

.fc-day:hover {
    background-color: #fef2dc;
}

.fc-day-number {
    font-size: 16px;
    font-weight: bold;
}

.fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
}

.fc .fc-col-header-cell-cushion{
    display: inline-block;
    padding: 2px 4px;
    color: black;
}

.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    text-decoration: none;
}

.fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion,
.fc-day-mon, .fc-daygrid-day-number,
.fc-day-tue, .fc-daygrid-day-number,
.fc-day-wed, .fc-daygrid-day-number,
.fc-day-thu, .fc-daygrid-day-number,
.fc-day-fri, .fc-daygrid-day-number {
    color: black;
}

.fc-day-sun .fc-col-header-cell-cushion,
.fc-day-sun a{
    color : red;
}

.fc-day-sat .fc-col-header-cell-cushion,
.fc-day-sat a {
    color : blue;
}

/* 시간 라디오 */
.radioButtonStyle{
	font-size: 14px;
	margin-top: 50px;
}

.radioStyle{
    font-size: 16px;
    margin-top: 5px;
}

input[type="radio"] {
    display: none;
    text-align: center;
    align-items: left;
    margin:5px 5px 5px 5px;
}

input[type="radio"] + span{
    text-align: center;
    height:30px;
    width:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #ee8432;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}

input[type="radio"]:checked + span{
    border:1px solid #ee8432;
    background-color: #ee8432;
    font-weight: 700;
}

input[type="radio"]:disabled + span{
    border:1px solid #f3f3f3;
    background-color: #f3f3f3;
    color:#dcdcdc;
}
 