@charset "UTF-8";

body {
   width: 100%;
   height: 100%;
   margin: 0;
}

.wrap {
   width: 100%;
   height: auto;
   margin: 0;
   min-height: 100%;
}

a {
   color: white;
   text-decoration: none;
}

/* 게시판 페이지번호 */
div #right a {
   color: black;
   text-decoration: none;
}

/* navbar 시작 -------------------------------- */
.navbar {
   display: flex;  /* 한줄(수평) 배치 */
   justify-content: space-between;  /* 시작과 끝은 기준선에 맞추고, 사이사이 space 동일 */
   align-items: center;   /* 수평-가운데 정렬 */
   background-color: black;
   opacity: 0.88;
   padding: 8px 12px;
   border-style: none;
}

.navbar_title {
	margin: 10;
	list-style: none;   /* 리스트 불릿 없앰 */
	color: #d49466;
	display: flex; /* 한줄(수평) 배치 */
	padding-left: 10px;
}

.navbar_title li {
   font-size: 30px;  /* 타이틀 아이콘 사이즈 */
   font-weight: bold;
}

.navbar_menu {
	margin: 10;
	display: flex;  /* 한줄(수평) 배치 */
	list-style: none;   /* 리스트 불릿 없앰 */
	padding-left: 0px;
	font-size: 18px;
	vertical-align: middle;
}

.navbar_menu li {
   padding: 8px 30px;
}

.navbar_icons {
   margin: 10;
   display: flex;  /* 한줄(수평) 배치 */
   list-style: none;   /* 리스트 불릿 없앰 */
   padding-left: 0px;
   color: white;
}

.navbar_icons li {
   padding: 8px 15px;   
}

/* navbar 종료 -------------------------------- */

/* 반응형웹 - (2) 햄버거 아이콘을 맨 오른쪽에 배치 */
.navbar_toggleBtn {
	display: none;	/* 화면이 768px보다 작은 경우에만 햄버거 아이콘 노출 */
	position: absolute;
	right: 32px; /* 오른쪽 32px 떨어진 곳에 배치 */
	top: 25px;
	font-size: 24px;
	color: #ff8000;
}

/* 반응형웹 - (3) 미디어쿼리 */
@media screen and (max-width: 768px){
	/* (3-2) 시작 => 창을 줄이면 햄버거 아이콘만 보이고, 나머지는 버튼 클릭시 자바 스크립트에서 핸들링*/
	.navbar {
		flex-direction: column;   /* 위에서 아래쪽으로 아이템 배치 */
		align-items: flex-start;   /* 왼쪽으로 붙여서 display */
		padding : 8px 24px;   /* 안쪽여백 */
		margin: 10px;
	}
	
	.navbar_menu { 
		display: none;
		flex-direction: column;   /* 위에서 아래쪽으로 아이템 배치 */
		align-items: center;
		width: 100%;
	}
   
	/* 마우스 올리면 하이라이트를 전체크기로 주기 */
	.navbar_menu li { 
		width: 100%;
		text-align: center;
	}
   
	/* 트위터, 페이스북, 기타 아이콘 가운데 정렬 */
	.navbar_icons {
		display: none;
		justify-content: center;
		width: 100%;
	}   
	/* (3-2) 종료 */
	
	/* (3-3) 자바스크립트에 이벤트 추가 : 햄버거 아이콘을 클릭하면 아래쪽으로 메뉴가 나오도록 main.js에 작성 */
	/* (3-4) 각 페이지마다 main.js를 추가 */
	
	/* (3-5) activity 추가 - 햄버거 버튼 클릭시 메뉴가 보여지고 페이지 이동 가능, 한번 더 누르면 메뉴가 감춰짐 */
	.navbar_menu.active, .navbar_icons.active {
		display: flex;
	}
	
	/* 반응형웹 - (3-1) 창을 줄이면, 1차 테스트 : F12창에서 화면을 768px보다 작게 줄이면 햄버거 아이콘이 보이도록 함 */
	.navbar_toggleBtn {
	display: block;
	}
}