@charset "UTF-8";

#container {
	width: auto;
	margin: 0 auto;
}

#contents {
	max-width: 1240px;
	min-width: 1240px;
	width: 100%;
	margin: 0 auto;
}

.section2 a {
	text-decoration: none;
	color: black;
}

.section2 ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0px;
}

.section2 ul li img {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2);
}

.section2 .content_name {
	padding-top: 10px;
	font-weight: bold;
	color: #555555;
} 

.content_detail {
	margin-bottom: 40px;
	padding-top: 10px;
	font-weight: bold;
	color: #555555;
}

.area_black{
	height : 600px; 
	background-color : black;
	
}

.carousel-inner{
    top: 50px; 
}


.btn_chatbot{
	bottom: 230px!important;
	position: fixed;
	bottom: 130px; /* 아래 끝에서부터의 거리 */
	right: 30; /* 오른쪽 끝에서부터의 거리 */
	z-index: 99;
	
}

.content_main{
	align-items: center;
	text-align : center;
	justify-content: center;
	display : flex ;
	position : relative;
	padding : 10px;
}

.content_sub{
	padding : 20px 20px 20px;
}

#main_category-text{
	font-size: 25; 
	font-weight: bolder; 
	color: #ff8000;"
}
